<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-test-etude-heading" jhiTranslate="t04JhApp.testEtude.home.createOrEditLabel">Create or edit a Test Etude</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="t04JhApp.testEtude.testTitle" for="field_testTitle">Test Title</label>
                    <input type="text" class="form-control" name="testTitle" id="field_testTitle"
                           formControlName="testTitle"/>
                    <div *ngIf="editForm.get('testTitle').invalid && (editForm.get('testTitle').dirty || editForm.get('testTitle').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('testTitle').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="t04JhApp.testEtude.niveauEtude" for="field_niveauEtude">Niveau Etude</label>
                    <input type="text" class="form-control" name="niveauEtude" id="field_niveauEtude"
                           formControlName="niveauEtude"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="t04JhApp.testEtude.dateExamen" for="field_dateExamen">Date Examen</label>
                    <div class="d-flex">
                        <input id="field_dateExamen" type="datetime-local" class="form-control" name="dateExamen" formControlName="dateExamen" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="t04JhApp.testEtude.average" for="field_average">Average</label>
                    <input type="number" class="form-control" name="average" id="field_average"
                           formControlName="average"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
