<div>
    <h2 id="page-heading">
        <span jhiTranslate="t04JhApp.testPerformance.home.title">Test Performances</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-test-performance" [routerLink]="['/test-performance/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="t04JhApp.testPerformance.home.createLabel">
            Create a new Test Performance
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="testPerformances?.length === 0">
        <span jhiTranslate="t04JhApp.testPerformance.home.notFound">No testPerformances found</span>
    </div>
    <div class="table-responsive" *ngIf="testPerformances?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="typeTest"><span jhiTranslate="t04JhApp.testPerformance.typeTest">Type Test</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="date"><span jhiTranslate="t04JhApp.testPerformance.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="idphotos"><span jhiTranslate="t04JhApp.testPerformance.idphotos">Idphotos</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="idtestDoc"><span jhiTranslate="t04JhApp.testPerformance.idtestDoc">Idtest Doc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="testAutre.id"><span jhiTranslate="t04JhApp.testPerformance.testAutre">Test Autre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="testEtude.id"><span jhiTranslate="t04JhApp.testPerformance.testEtude">Test Etude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="testNage.id"><span jhiTranslate="t04JhApp.testPerformance.testNage">Test Nage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="document.id"><span jhiTranslate="t04JhApp.testPerformance.document">Document</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="testPhysique.id"><span jhiTranslate="t04JhApp.testPerformance.testPhysique">Test Physique</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nageurs.id"><span jhiTranslate="t04JhApp.testPerformance.nageurs">Nageurs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let testPerformance of testPerformances ;trackBy: trackId">
                <td><a [routerLink]="['/test-performance', testPerformance.id, 'view' ]">{{testPerformance.id}}</a></td>
                <td>{{testPerformance.typeTest}}</td>
                <td>{{testPerformance.date | date:'medium'}}</td>
                <td>{{testPerformance.idphotos}}</td>
                <td>{{testPerformance.idtestDoc}}</td>
                <td>
                    <div *ngIf="testPerformance.testAutre">
                        <a [routerLink]="['/test-autre', testPerformance.testAutre?.id, 'view' ]" >{{testPerformance.testAutre?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="testPerformance.testEtude">
                        <a [routerLink]="['/test-etude', testPerformance.testEtude?.id, 'view' ]" >{{testPerformance.testEtude?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="testPerformance.testNage">
                        <a [routerLink]="['/test-nage', testPerformance.testNage?.id, 'view' ]" >{{testPerformance.testNage?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="testPerformance.document">
                        <a [routerLink]="['/document', testPerformance.document?.id, 'view' ]" >{{testPerformance.document?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="testPerformance.testPhysique">
                        <a [routerLink]="['/test-physique', testPerformance.testPhysique?.id, 'view' ]" >{{testPerformance.testPhysique?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="testPerformance.nageurs">
                        <a [routerLink]="['/nageurs', testPerformance.nageurs?.id, 'view' ]" >{{testPerformance.nageurs?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/test-performance', testPerformance.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/test-performance', testPerformance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(testPerformance)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="testPerformances?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
