<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-programmation-heading" jhiTranslate="t04JhApp.programmation.home.createOrEditLabel">Create or edit a Programmation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="t04JhApp.programmation.programme" for="field_programme">Programme</label>
                    <input type="text" class="form-control" name="programme" id="field_programme"
                           formControlName="programme"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="t04JhApp.programmation.groupe" for="field_groupe">Groupe</label>
                    <input type="number" class="form-control" name="groupe" id="field_groupe"
                           formControlName="groupe"/>
                    <div *ngIf="editForm.get('groupe').invalid && (editForm.get('groupe').dirty || editForm.get('groupe').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('groupe').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('groupe')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="t04JhApp.programmation.document" for="field_documents">Document</label>
                    <select class="form-control" id="field_documents" multiple name="documents" formControlName="documents">
                        <option [ngValue]="getSelected(editForm.get('documents').value, themeOption)" *ngFor="let themeOption of themes; trackBy: trackThemeById">{{themeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="t04JhApp.programmation.groupe" for="field_groupe">Groupe</label>
                    <select class="form-control" id="field_groupe" name="groupe" formControlName="groupe">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="groupeOption.id === editForm.get('groupe').value?.id ? editForm.get('groupe').value : groupeOption" *ngFor="let groupeOption of groupes; trackBy: trackGroupeById">{{groupeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
