<div>
    <h2 id="page-heading">
        <span jhiTranslate="t04JhApp.ficheSeance.home.title">Fiche Seances</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fiche-seance" [routerLink]="['/fiche-seance/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="t04JhApp.ficheSeance.home.createLabel">
            Create a new Fiche Seance
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="ficheSeances?.length === 0">
        <span jhiTranslate="t04JhApp.ficheSeance.home.notFound">No ficheSeances found</span>
    </div>
    <div class="table-responsive" *ngIf="ficheSeances?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ficheSeance"><span jhiTranslate="t04JhApp.ficheSeance.ficheSeance">Fiche Seance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="groupeName"><span jhiTranslate="t04JhApp.ficheSeance.groupeName">Groupe Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="date"><span jhiTranslate="t04JhApp.ficheSeance.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="themePrimary"><span jhiTranslate="t04JhApp.ficheSeance.themePrimary">Theme Primary</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="themeSecondary"><span jhiTranslate="t04JhApp.ficheSeance.themeSecondary">Theme Secondary</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="objectifPrimary"><span jhiTranslate="t04JhApp.ficheSeance.objectifPrimary">Objectif Primary</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="objectifSecondary"><span jhiTranslate="t04JhApp.ficheSeance.objectifSecondary">Objectif Secondary</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="observation"><span jhiTranslate="t04JhApp.ficheSeance.observation">Observation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exerciceEchauffement1"><span jhiTranslate="t04JhApp.ficheSeance.exerciceEchauffement1">Exercice Echauffement 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exerciceEchauffement2"><span jhiTranslate="t04JhApp.ficheSeance.exerciceEchauffement2">Exercice Echauffement 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exerciceEchauffement3"><span jhiTranslate="t04JhApp.ficheSeance.exerciceEchauffement3">Exercice Echauffement 3</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exercicePrimary1"><span jhiTranslate="t04JhApp.ficheSeance.exercicePrimary1">Exercice Primary 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exercicePrimary2"><span jhiTranslate="t04JhApp.ficheSeance.exercicePrimary2">Exercice Primary 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exercicePrimary3"><span jhiTranslate="t04JhApp.ficheSeance.exercicePrimary3">Exercice Primary 3</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exercicePrimary4"><span jhiTranslate="t04JhApp.ficheSeance.exercicePrimary4">Exercice Primary 4</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exercicePrimary5"><span jhiTranslate="t04JhApp.ficheSeance.exercicePrimary5">Exercice Primary 5</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exercicePrimary6"><span jhiTranslate="t04JhApp.ficheSeance.exercicePrimary6">Exercice Primary 6</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exercicePrimary7"><span jhiTranslate="t04JhApp.ficheSeance.exercicePrimary7">Exercice Primary 7</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exercicePrimary8"><span jhiTranslate="t04JhApp.ficheSeance.exercicePrimary8">Exercice Primary 8</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exerciceFinale1"><span jhiTranslate="t04JhApp.ficheSeance.exerciceFinale1">Exercice Finale 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exerciceFinale2"><span jhiTranslate="t04JhApp.ficheSeance.exerciceFinale2">Exercice Finale 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="bilan"><span jhiTranslate="t04JhApp.ficheSeance.bilan">Bilan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="groupe.id"><span jhiTranslate="t04JhApp.ficheSeance.groupe">Groupe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let ficheSeance of ficheSeances ;trackBy: trackId">
                <td><a [routerLink]="['/fiche-seance', ficheSeance.id, 'view' ]">{{ficheSeance.id}}</a></td>
                <td>{{ficheSeance.ficheSeance}}</td>
                <td>{{ficheSeance.groupeName}}</td>
                <td>{{ficheSeance.date | date:'medium'}}</td>
                <td>{{ficheSeance.themePrimary}}</td>
                <td>{{ficheSeance.themeSecondary}}</td>
                <td>{{ficheSeance.objectifPrimary}}</td>
                <td>{{ficheSeance.objectifSecondary}}</td>
                <td>{{ficheSeance.observation}}</td>
                <td>{{ficheSeance.exerciceEchauffement1}}</td>
                <td>{{ficheSeance.exerciceEchauffement2}}</td>
                <td>{{ficheSeance.exerciceEchauffement3}}</td>
                <td>{{ficheSeance.exercicePrimary1}}</td>
                <td>{{ficheSeance.exercicePrimary2}}</td>
                <td>{{ficheSeance.exercicePrimary3}}</td>
                <td>{{ficheSeance.exercicePrimary4}}</td>
                <td>{{ficheSeance.exercicePrimary5}}</td>
                <td>{{ficheSeance.exercicePrimary6}}</td>
                <td>{{ficheSeance.exercicePrimary7}}</td>
                <td>{{ficheSeance.exercicePrimary8}}</td>
                <td>{{ficheSeance.exerciceFinale1}}</td>
                <td>{{ficheSeance.exerciceFinale2}}</td>
                <td>{{ficheSeance.bilan}}</td>
                <td>
                    <div *ngIf="ficheSeance.groupe">
                        <a [routerLink]="['/groupe', ficheSeance.groupe?.id, 'view' ]" >{{ficheSeance.groupe?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/fiche-seance', ficheSeance.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fiche-seance', ficheSeance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(ficheSeance)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
