<div>
    <h2 id="page-heading">
        <span jhiTranslate="t04JhApp.exercice.home.title">Exercices</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-exercice" [routerLink]="['/exercice/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="t04JhApp.exercice.home.createLabel">
            Create a new Exercice
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="exercices?.length === 0">
        <span jhiTranslate="t04JhApp.exercice.home.notFound">No exercices found</span>
    </div>
    <div class="table-responsive" *ngIf="exercices?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exerciceName"><span jhiTranslate="t04JhApp.exercice.exerciceName">Exercice Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="t04JhApp.exercice.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="idDocSchema"><span jhiTranslate="t04JhApp.exercice.idDocSchema">Id Doc Schema</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dosage"><span jhiTranslate="t04JhApp.exercice.dosage">Dosage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="longDosage"><span jhiTranslate="t04JhApp.exercice.longDosage">Long Dosage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="recomendation"><span jhiTranslate="t04JhApp.exercice.recomendation">Recomendation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let exercice of exercices ;trackBy: trackId">
                <td><a [routerLink]="['/exercice', exercice.id, 'view' ]">{{exercice.id}}</a></td>
                <td>{{exercice.exerciceName}}</td>
                <td>{{exercice.description}}</td>
                <td>{{exercice.idDocSchema}}</td>
                <td>{{exercice.dosage}}</td>
                <td>{{exercice.longDosage}}</td>
                <td>{{exercice.recomendation}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/exercice', exercice.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/exercice', exercice.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(exercice)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="exercices?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
