<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-exercice-heading" jhiTranslate="t04JhApp.exercice.home.createOrEditLabel">Create or edit a Exercice</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="t04JhApp.exercice.exerciceName" for="field_exerciceName">Exercice Name</label>
                    <input type="text" class="form-control" name="exerciceName" id="field_exerciceName"
                           formControlName="exerciceName"/>
                    <div *ngIf="editForm.get('exerciceName').invalid && (editForm.get('exerciceName').dirty || editForm.get('exerciceName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('exerciceName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="t04JhApp.exercice.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="t04JhApp.exercice.idDocSchema" for="field_idDocSchema">Id Doc Schema</label>
                    <input type="number" class="form-control" name="idDocSchema" id="field_idDocSchema"
                           formControlName="idDocSchema"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="t04JhApp.exercice.dosage" for="field_dosage">Dosage</label>
                    <input type="text" class="form-control" name="dosage" id="field_dosage"
                           formControlName="dosage"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="t04JhApp.exercice.longDosage" for="field_longDosage">Long Dosage</label>
                    <input type="number" class="form-control" name="longDosage" id="field_longDosage"
                           formControlName="longDosage"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="t04JhApp.exercice.recomendation" for="field_recomendation">Recomendation</label>
                    <input type="text" class="form-control" name="recomendation" id="field_recomendation"
                           formControlName="recomendation"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="t04JhApp.exercice.document" for="field_documents">Document</label>
                    <select class="form-control" id="field_documents" multiple name="documents" formControlName="documents">
                        <option [ngValue]="getSelected(editForm.get('documents').value, documentOption)" *ngFor="let documentOption of documents; trackBy: trackDocumentById">{{documentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
