@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */
.navbar-toggler {
  margin-left: 3em;
}

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}
.navbar-left{
  width: 50%;
  // border: 2px solid black;
}
.navbar-link{

  float: right;
 // border: 2px solid black;

}
.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;

  z-index: 200;
  position: fixed;
  color: white;
  height: 2em;
  font-weight: 200;


  ul.navbar-nav {

    .nav-item {
      // margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 100;
    font-size: 0.8em;
    color: white;
  }
}

.navbar-title {
  margin-left: 2em;
}
/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 30px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}
