

    <h2 id="page-heading">
        <span jhiTranslate="t04JhApp.nageur.home.title">Nageurs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nageur" [routerLink]="['/nageur/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="t04JhApp.nageur.home.createLabel">
            Create a new Nageur
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="nageurs?.length === 0">
        <span jhiTranslate="t04JhApp.nageur.home.notFound">No nageurs found</span>
    </div>
    <div class="table-responsive" *ngIf="nageurs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="licence"><span jhiTranslate="t04JhApp.nageur.licence">Licence</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nom"><span jhiTranslate="t04JhApp.nageur.nom">Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="t04JhApp.nageur.prenom">Prenom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="date_naissance"><span jhiTranslate="t04JhApp.nageur.date_naissance">Date Naissance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tel"><span jhiTranslate="t04JhApp.nageur.tel">Tel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="hauraire_etude"><span jhiTranslate="t04JhApp.nageur.hauraire_etude">Hauraire Etude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="groupes.Groupe"><span jhiTranslate="t04JhApp.nageur.groupes">Groupes</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nageur of nageurs ;trackBy: trackId">
                <td><a [routerLink]="['/nageur', nageur.id, 'view' ]">{{nageur.id}}</a></td>
                <td>{{nageur.licence}}</td>
                <td>{{nageur.nom}}</td>
                <td>{{nageur.prenom}}</td>
                <td>{{nageur.dateNaissance | date:'mediumDate'}}</td>
                <td>{{nageur.tel}}</td>
                <td>{{nageur.hauraireEtude}}</td>
                <td>
                    <div *ngIf="nageur.groupes">
                        <a [routerLink]="['/groupes', nageur.groupes?.id, 'view' ]" >{{nageur.groupes?.groupes}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/nageur', nageur.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/nageur', nageur.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/nageur', { outlets: { popup: nageur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="nageurs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
